<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="angular/angular.min.js"></script>
    <script src="myController.js"></script>
    <script src="demo.js"></script>
</head>
<body ng-app="myNgApp">
<div ng-app="" ng-controller="studentController">
    <table border="0">
        <tr><td>Enter first name:</td><td><input type="text" ng-model="student.firstName"></td></tr>

        <tr><td>Enter last name: </td><td><input type="text" ng-model="student.lastName"></td></tr>

        <tr><td>Enter fees: </td><td><input type="text" ng-model="student.fees"></td></tr>

        <tr><td>Enter subject: </td><td><input type="text" ng-model="subjectName"></td></tr>

    </table>
    <br/>
    <table border="0">
        <tr><td>Name in Upper Case: </td><td>{{student.fullName() | uppercase }}</td></tr>
        <tr><td>Name in Lower Case: </td><td>{{student.fullName() | lowercase}}</td></tr>
        <tr><td>fees: </td><td>{{student.fees | currency}}</td></tr>
        <tr><td>Subject:</td><td>
            <ul>
                <li ng-repeat="subject in student.subjects | filter: subjectName">
                    {{ subject.name + ', marks:' + subject.marks }}
                </li>
            </ul>
        </td></tr>
    </table>
</div>

</body>
</html>